:root {
  --primary-color: black;
  --secondary-color: #9f2c10;
  --icons-color: white;
  --heading-font: "Playfair Display", serif;
  --content-font: "Inconsolata", monospace;
  --border-color: white;
}
body {
  background-image: url("/images/unsplash.jpg");
  background-size: cover;
  margin: 150px 0 50px 0;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
}
h1 {
  font-size: 60px;
  line-height: 1.5;
  margin: 0;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}

.fixed-top {
  font-family: var(--content-font);
  font-size: 22px;
  font-weight: 700;
}

.bar-name-initials {
  color: var(--secondary-color);
  font-size: 30px;
  opacity: 0.6;
}
.active {
  color: var(--secondary-color) !important;
  opacity: 0.6;
}
.nav-item {
  padding: 0 15px;
}
.about-content.container h2 {
  margin: 0;
}
.hero {
  text-align: center;
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  margin-bottom: 100px;
}

.profile-photo {
  width: 500px;
}

.content-paragraph {
  font-family: var(--content-font);
  font-size: 22px;
  line-height: 2;
  font-weight: 700;
}
.about-section.container {
  border: 1px solid var(--border-color);
  padding: 10px 40px 40px 40px;
  margin-bottom: 100px;
}
.contact-section {
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 15px 0;
}

.contact-platforms i {
  color: var(--icons-color);
  font-size: 30px;
  margin: 20px;
  border: 1px solid var(--border-color);
  padding: 5px;
  transition: all 100ms ease-in-out;
}
.contact-platforms i:hover {
  color: var(--primary-color);
}
.footer-paragraph {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--content-font);
}
.github-portfolio-link {
  color: white;
  text-decoration: none;
}
.github-portfolio-link:hover {
  color: var(--secondary-color);
  opacity: 0.7;
}
.projects-heading {
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  margin-bottom: 100px;
}
.projects-container {
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
  padding: 20px 0 50px 0;
}
.F45-project-image,
.weather-project-image {
  border: 1px solid var(--border-color);
  padding: 15px;
  transition: all 200ms ease-in-out;
}

.F45-project-image:hover,
.weather-project-image:hover {
  transform: scale(1.1);
}

.interests-heading {
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  margin-bottom: 100px;
}
.content-paragraph.interests {
  border: 1px solid var(--border-color);
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.col-sm-1 {
    margin:20px;
}
.interests-icons i {
  font-size: 60px;
  color: var(--icons-color);
  border: 1px solid var(--border-color);
  padding: 15px;
  transition: all 100ms ease-in-out;
  margin:10px;
}
.interests-icons i:hover {
  color: var(--primary-color);
}
@media (max-width: 760px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
    text-align: center;
  }
  .content-paragraph {
    text-align: center;
    font-size: 18px;
  }
  .footer-paragraph {
    font-size: 14px;
  }
  .interests-heading {
    max-width: 360px;
  }
  .content-paragraph.interests {
    max-width: 360px;
  }
  .interests-content {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .profile-photo {
    display: none;
  }
  .hero {
    margin-bottom: 50px;
  }
  .about-section.container {
    margin-bottom: 50px;
  }
  .projects-heading {
    margin-bottom: 50px;
  }
  .F45-project-image {
    border: 0;
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .weather-project-image {
    border: 0;
  }
  .interests-heading {
    margin-bottom: 50px;
  }
}

