/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    background-image:url("/images/background.jpg");
    background-size:cover;

}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight:bold;
}
h3 {
   font-family: 'Playfair Display', serif; 
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}