@media (max-width: 780px) {
  h1 {
    text-align: center;
    font-size: 48px;
  }
  h2 {
    text-align: center;
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .profile-photo {
    display: none;
  }

  h3 {
    text-align: center;
  }
  .content-paragraph {
    text-align: center;
  }
  .F45-project h3 {
    text-align: center;
  }
  .F45-project-picture {
    text-align: center;
  }
  .weather-app-project h3 {
    text-align: center;
  }
  .weather-project-picture {
    margin-bottom: 50px;
  }
}

:root {
  --primary-color: black;
  --secondary-color: #9f2c10;
  --icons-color: white;
  --heading-font: "Playfair Display", serif;
  --content-font: "Inconsolata", monospace;
  --border-color: white;
}
body {
  background-image: url("/images/unsplash.jpg");
  background-size: cover;
  margin: 150px 0 50px 0;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
}
h1 {
  font-size: 60px;
  line-height: 1.5;
  margin: 0;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 30px;
}

.fixed-top {
  font-family: var(--content-font);
  font-size: 22px;
  font-weight: 700;
}

.bar-name-initials {
  color: var(--secondary-color);
  font-size: 30px;
  opacity: 0.6;
}
.active {
  color: var(--secondary-color) !important;
  opacity: 0.6;
}
.nav-item {
  padding: 0 15px;
}
.about-content.container h2 {
  margin: 0;
}
.hero {
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  margin-bottom: 100px;
}

.profile-photo {
  width: 500px;
}

.content-paragraph {
  font-family: var(--content-font);
  font-size: 24px;
  line-height: 2;
  font-weight: 700;
}
.about-section.container {
  border: 1px solid var(--border-color);
  padding: 10px 40px 40px 40px;
  margin-bottom: 100px;
}
.contact-section {
  border: 1px solid var(--border-color);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 15px 0;
}
.contact-platforms {
  text-align: center;
}
.contact-platforms i {
  color: var(--icons-color);
  font-size: 30px;
  margin: 20px;
  border: 1px solid var(--border-color);
  padding: 5px;
  transition: all 100ms ease-in-out;
}
.contact-platforms i:hover {
  color: var(--primary-color);
}
.footer-paragraph {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--content-font);
}

.row {
  display: flex;
  justify-content: center;
}
.F45-project-picture,
.weather-picture {
  transition: all 200ms ease-in-out;
}

.F45-project-picture:hover,
.weather-project-picture:hover {
  transform: scale(1.1);
}

.icons {
  font-size: 60px;
  color: var(--icons-color);
}
